/* CSS Styles */
.container {
    display: flex; /* Use flexbox to align items */
  }
  
  .box-1 {
    border: 1px solid #0e0d0d;
    padding: 20px;
    margin: 10px;
  }
  .box-2{
    border: 1px solid #0e0d0d;
    padding: 20px;
    margin: 10px;
  }
  .box-3{
    border: 1px solid #0e0d0d;
    padding: 20px;
    margin: 10px;
  }

  /* new section */
  .container2 {
    width: 300px;
    margin: 20px auto;
  }
  
 
 .hidden-content {
    /* display: none; */
    border:1px solid #0e0d0d;
   
    padding: 20px;
  }
  
  .reveal-btn {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
  }
  
  .reveal-btn:focus {
    outline: none;
  }
   



  
  